html,
body {
  user-select: none;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#touch-grid {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  opacity: 0.2;
  z-index: 5;
}
a.btn__return {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
#touch-left {
  border: 3px solid blue;
  flex: 1 50%;
}
#touch-right {
  border: 3px solid red;
  flex: 1 50%;
}
#menu {
  display: none;
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: green;
  width: 200px;
  height: 200px;
  opacity: 0.35;
}
#hud {
  display: flex;
  position: absolute;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#hud > div {
  position: absolute;
}
#top-right {
  clip-path: polygon(0 0, 100% 0, 100% 20%, 24% 28%);
  min-height: 200px;
  min-width: 160px;
  background-color: green;
  padding-left: 3em;
  padding-top: 0.5em;
  right: 0;
  top: 0;
  .pointHud {
    background: transparent;
    margin: 0.5em;
  }
}

#bottom-right {
  right: 0;
  bottom: 0;
}
#bottom-right > img {
  fill: green;
}
#status {
  display: none;
  position: unset !important;
  text-align: center;
  color: yellow;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #191c20;
  color: #eee;
  font-family: Orbitron;
}
svg {
  position: absolute;
  left: -70px;
  top: 20px;
  transform: scale(2.5);
  z-index: -1;
}
svg circle {
  box-shadow: 0px 0px 2px 2px blue;
  stroke: #00adb5;
  transform-origin: center;
}
svg #oval1 {
  stroke-dasharray: 50;
  animation: spin 50s linear infinite;
}
svg #oval2 {
  stroke-dasharray: 75;
  animation: spin 30s linear infinite;
}
svg #oval3 {
  transform-origin: center;
  stroke-dasharray: 90;
  stroke-dashoffset: 500;
  animation: spin 21s linear infinite;
}
#container {
  margin-top: 10vh;
  animation: fadeIn 1s ease-in-out;
  overflow-x: hidden;
}
#titler {
  margin-right: 40vw;
}
#titler h1 {
  text-align: right;
  /* border: 1px solid lime;
    */
}
/* Three.js global */
canvas {
  width: 100%;
  height: 100%;
}
/* Site-wide attributes */
a {
  color: inherit;
  text-decoration: unset;
}
a:hover {
  text-decoration: underline;
}
#games {
  margin-left: 40vw;
  width: 50vw;
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: left;
  padding-left: 0;
}
#games .game {
  width: 100%;
  position: relative;
  justify-self: right;
  margin: 0.8rem auto;
  margin-right: 1rem;
  border-radius: 10px;
  border: 2px solid #00adb5;
  transition: all 0.4s ease-in;
}
#games .game::after {
  content: "";
  position: absolute;
  width: 100px;
  top: 0;
  background-color: #222831;
}
@media (min-width: 640px) {
  #games .game {
    width: 100%;
    transform: translateX(30%);
  }
}
#games .game a {
  display: block;
  padding: 3rem;
  padding-right: 20vw;
}
#games .game a#noHud {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-left: 2px solid #00adb5;
}
#games .game:hover {
  transform: translateX(10%);
  background-color: #222831;
}
#footer {
  display: block;
  min-height: 40vh;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
