extends layout

block content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/104/three.min.js")
  script(src="javascripts/client.js" type="module")
  script(src="javascripts/comet.js" type="module")
  #pedos
    #left
    #right