extends layout
block content
  link(rel='stylesheet', href='/stylesheets/cometStyle.css')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/104/three.min.js")
  script(src="javascripts/comet.js" type="module")
  #touch-grid
    #left
    #right
  #hud
    #status message
    #top-left
    #top-right Level 1
    #bottom-left
    #bottom-right
      img(src="/images/pointHud1.svg", alt="", srcset="")