extends layout

block content
    #container
        #titler
            h2.upper Welcome to Nodulus, 
            h2.lower pick a game
        #games
            a(href="/comet") comet game
            a(id='cometNoHud', href='/cometNoHud') comet nohud
            a(href="/test") test environment
            a(href="/brawlbots") BRAWLBOTS