html, body{
  /* WE NEED AN AUTOPREFIXER!!!! AGHGHGHGHHGHG */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#touch-grid{
  position: absolute;
  bottom:0;
  height: 100%;
  width: 100%;
  display: flex;
  opacity: 0.2;
  z-index: 5;
}
a.btn__return{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
#touch-left{
  border:3px solid blue;
  flex: 1 50%;
}
#touch-right{
  border:3px solid red;
  flex: 1 50%;
}
#menu{
  display: none;
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: green;
  width: 200px;
  height: 200px;
  opacity: 0.35;
}
#hud{
    display: flex;
    position: absolute;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#hud > div{
    position: absolute;
}
#top-right{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 24% 28%);
    clip-path: polygon(0 0, 100% 0, 100% 20%, 24% 28%);
    min-height: 100px;
    min-width: 160px;
    background-color: green;
    padding-left: 3em;

    right: 0;
    top: 0;
    -webkit-user-drag: none;
    -moz-window-dragging: none;
}

/* Need scss */
#bottom-right{
    right: 0;
    bottom: 0;
}
#bottom-right > img {
      fill: green;
}
#status{
    display: none;
    position: unset !important;
    text-align: center;
    color: yellow;
}