body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
  overflow-x:hidden;
  overflow-y:hidden;
  background-color: black;
  color: lime;
  font-family: Orbitron;
}
#container{
  display: flex;
  /* width: 100%; */
  text-align: center;
  margin: 40vmin auto;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}
#pedos{
  position: absolute;
  bottom:0;
  height: 95%;
  width: 100%;
  display: flex;
  opacity: .2;
}
#left{
  border:3px solid blue;
  flex: 1 50%;
}
#right{
  border:3px solid red;
  flex: 1 50%;
}
canvas{
  width:100%;
  height:100%;
}

a{
  color: lime;
}

