extends layout
block content
  link(rel='stylesheet', href='/styles/cometStyle.css')

  #menu
  #hud
    #status message
    #top-left

    #top-right 
      .levelHud Level: 1
      .pointHud Points: 0
      .speedHud Speed: 15
    #bottom-left
    #bottom-right
      //- img(src="/images/pointHud1.svg", alt="", srcset="")

  //- script(src="games/comet.js")
  //- script(src='vendors/three.js', type='application/javascript')
  //- script(src="vendors/OrbitControls.js", type='application/javascript')
  //- script(src="scripts/comet.js", type="module")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/104/three.min.js")
  //- script(src="https://cdn.jsdelivr.net/npm/three-orbitcontrols@2.102.2/OrbitControls.min.js")
  script(src="scripts/comet.js")
