extends layout

block content
    svg(width='217px', height='217px', viewBox='0 0 217 217', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        title Group
        desc Created with Sketch.
        g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Group(stroke='#009186')
                circle#oval1(stroke-width='1.5', cx='108.5', cy='108.5', r='88.5')
                circle#oval2(stroke-width='1.5', cx='109', cy='109', r='102')
                circle#oval3(stroke-width='1.5', cx='108.5', cy='108.5', r='107.51')

    #container
        #titler
            h1 Nodulus
        ul#games
            li.game
                a(href="/comet") comet game
                a#noHud(href='/cometNoHud') nohud
            li.game
                a(href="/brawlbots") BRAWLBOTS
            li.game
                a(href="/test") test env
    section#footer