extends layout

block content
    //- script(src="games/brawlbots.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/104/three.min.js")
    script(src="vendors/OrbitControls.js")
    script(src="scripts/brawlbots/brawlbots.js" type="module")
    p command: fight, dodge, survive