extends layout

block content
    script(src='vendors/three.js', type='application/javascript')
    script(src="vendors/OrbitControls.js", type='application/javascript')
    script(src="scripts/brawlbots.js" )
    p command: fight, dodge, survive