doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Orbitron')
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='/styles/cometStyle.css')
    link(rel='icon', href='favicon.png')
  body
    a.btn__return(href="/") return
    block content